/*Stylesheet*/

body, html {
  margin:       0;
  padding:      0;
  font-family:    Arial, Verdana, sans-serif;
  font-size:      12px;
  font-weight:    normal;
  color:        #ccc;
  background-color: #333;
}

#loader {
  display: none;
}

.loader {
  width: 100%;
  height: 50px;
  position: absolute;
  text-align:center;
  margin-top: 250px;
  /*background: url('assets/loader.gif') no-repeat; */
  background-position: 50% 50%;
  display: block !important;
}

#error {
  display:none;
  width: 960px;
  text-align: left;
  padding: 10px;
}

#centreMe {
   background-color:#CC9999;
  width:500px;
  height:500px;
  position:absolute;
  margin-top:-250px;
  margin-left:-250px;
  top:50%;
  left:50%;
}

#linksPanel {
   width: 500px;
   text-align:center;
   padding: 40px 0;
}

#xyloBorder {
   width: 480px;
   height: 480px;
   padding: 10px;
   background-color: white;
}

.xyloButton1, .xyloButton2, .xyloButton3, .xyloButton4, .xyloButton5 {
   border: none;
  float: left;
  width: 96px;
  height: 480px;
  cursor: pointer;

}

.xyloButton1, .xyloButton2, .xyloButton3, .xyloButton4, .xyloButton5 {
   cursor: pointer;
}

.xyloButton1 {
  background-color: #00ccff;
}
.xyloButton2 {
  background-color: #ffff00;
}
.xyloButton3 {
  background-color: #00ff00;
}
.xyloButton4 {
  background-color: #fa0096;
}
.xyloButton5 {
  background-color: #0f4295;
}

.xyloButton1:focus {
  background-color: #33d6ff;
  outline: 0;
}
.xyloButton2:focus {
  background-color: #feff33;
  outline: 0;
}
.xyloButton3:focus {
  background-color: #33ff33;
  outline: 0;
}
.xyloButton4:focus {
  background-color: #ff2fab;
  outline: 0;
}
.xyloButton5:focus {
  background-color: #0059e9;
  outline: 0;
}